:root {
  --body_bg: var(--chakra-colors-white-200);
  --body_color: var(--chakra-colors-black-800);
  --link_color: var(--chakra-colors-black-900);
  --lang-btn-bg: var(--chakra-colors-white-transparent-50);
  --list-hover: var(--chakra-colors-blue-400);
}

[data-theme="dark"] {
  --body_bg: var(--chakra-colors-blue-990);
  --body_color: var(--chakra-colors-white-200);
  --link_color: var(--chakra-colors-white-100);
  --lang-btn-bg: var(--chakra-colors-black-transparent-200);
  --list-hover: var(--chakra-colors-blue-800);
}

* {
  transition: all 0.3s linear;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--body_bg);
  color: var(--body_color);
}

main {
  min-height: 90dvh;
  width: 100dvw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  color: var(--link_color);
  &:hover {
    background-color: var(--list-hover);
  }
}

.flex-container {
  background-color: tomato;
  border-radius: 20px;
  min-height: 90dvh;
  margin: 5dvh auto;
  width: 95%;
  color: var(--body_color);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: var(--body_color);
}

.header {
  .lang-btn {
    background-color: var(--lang-btn-bg);
    font-size: 30px;
  }
}

.flex-container.home {
  background-color: transparent;

  @media (max-width: 767px) {
    background-image: linear-gradient(
      to bottom,
      var(--chakra-colors-blue-800) 20%,
      var(--chakra-colors-blue-950)
    );

    .content-box-home {
      margin-top: -120px;
    }
  }
}
